/* Author: Bruno Feitosa
   v1.0 | 24-06-2023
*/

/*Estilos*/

.game-board {
    width: 800px;
    height: 600px;
    border: 5px solid #333;
    border-bottom: 15px solid green;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF );
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 55px;
    animation-name: pipe-animation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear; 
}

.clouds {
    position: absolute;
    width: 500px;
    animation-name: clouds-animation;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear; 
}

.mario {
    width: 100px;
    position: absolute;
    bottom: 0;

}

.jump {
    animation-name: jump-mario-animation;
    animation-duration: 500ms;
    animation-direction: normal;
    animation-timing-function: ease-out;
}

/*Animação do Pipe*/
@keyframes pipe-animation {
    from {
        right: -20%;

    }

    to {
        right: 100%;
    }

}

/*Animação do Mario Pulando*/
@keyframes jump-mario-animation {
    0% {
        bottom: 0;
    }

    40% {
        bottom: 180px;
    }

    50% {
        bottom: 180px;
    }

    60% {
        bottom: 180px;
    }

    100% {
        bottom: 0;
    }
}

/*Animação da Nuvem*/
@keyframes clouds-animation {
    from {
        right: -65%;

    }

    to {
        right: 100%;
    }

}
